<h3>ARMORS</h3>
<div class="container fluid">
  <div class="row">
      <ul class="event-list">
        <li>
          <time datetime="2014-07-20 0000">
            <span class="day"><img
                src="https://assets.mhw-db.com/armor/e7cfa0acf10c8439b78639a0f59c2eb9ee9e2923.c8685d97610f608eae4850d6f53b9226.png"></span>
          </time>
          <div class="info">
            <h2 class="title">Slug</h2>
            <p class="desc">Extends the time until your stamina cap decreases by 30%.</p>
            <ul>
              <li style="width:50%;"><span class="fa fa-globe"></span> Common</li>
              <li style="width:50%;"><span class="fa fa-graduation-cap"></span> Hat </li>
            </ul>
          </div>
          <!--
          <div class="social">
            <ul>
              <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
              <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
              <li class="google-plus" style="width:33%;"><a href="#google-plus"><span
                    class="fa fa-google-plus"></span></a></li>
            </ul>
          </div>-->
        </li>
        <li>
            <time datetime="2014-07-20 0000">
              <span class="day"><img
                  src="https://assets.mhw-db.com/armor/cd3184a613f90e9176e3e0e2cf2541ba6fc36473.bfb2b2ab55d7f8badfcfafb6708edbe3.png"></span>
            </time>
            <div class="info">
              <h2 class="title">Chainmail gloves</h2>
              <p class="desc">Speeds up gathering and prevents knockbacks while gathering.</p>
              <ul>
                <li style="width:50%;"><span class="fa fa-globe"></span> Common</li>
                <li style="width:50%;"><span class="fa fa-hand-o-right"></span> Gloves </li>
              </ul>
            </div>
            <!--
            <div class="social">
              <ul>
                <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                <li class="google-plus" style="width:33%;"><a href="#google-plus"><span
                      class="fa fa-google-plus"></span></a></li>
              </ul>
            </div>-->
          </li>
          <li>
              <time datetime="2014-07-20 0000">
                <span class="day"><img
                    src="https://assets.mhw-db.com/armor/6baad06e8762695795fe72b561827e43f75add71.5d85df57f240139900c4c25e0ae263b9.png"></span>
              </time>
              <div class="info">
                <h2 class="title">Leather Armor</h2>
                <p class="desc">Expands your scoutflies detection range.</p>
                <ul>
                  <li style="width:50%;"><span class="fa fa-globe"></span> Very Rare</li>
                  <li style="width:50%;"><span class="fa fa-cog"></span> Armor </li>
                </ul>
              </div>
              <!--
              <div class="social">
                <ul>
                  <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                  <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                  <li class="google-plus" style="width:33%;"><a href="#google-plus"><span
                        class="fa fa-google-plus"></span></a></li>
                </ul>
              </div>-->
            </li>
      </ul>
  </div>
</div>