<h3>CHARMS</h3>
<div class="container fluid">
  <div class="row">
      <ul class="item-list">
        <li *ngFor="let charm of charms">
          <div class="info">
            <h2 class="title">{{charm.name}}</h2>
            <p class="desc">{{charm.description}}</p>
            <ul>
              <li style="width:50%;"><span class="fa fa-globe"></span> Rarity {{charm.rarity}} </li>
              <li style="width:50%;"><span class="fa fa-graduation-cap"></span> Value {{charm.value}} </li>
            </ul>
          </div>
        </li>
      </ul>
  </div>
</div>