<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to MHW API!
  </h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Menu</a>

  <ul class="nav nav-tabs mr-auto">
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu1">Armors <span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu2">Weapons <span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu3">Charms <span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu4">Decorations <span class="sr-only">(current)</span></a></li>
  </ul>

  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>


<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h3>HOME</h3>
    <p>Some content.</p>
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Menu 1</h3>
    <p>Some content in menu 1.</p>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div>
</div>


<router-outlet></router-outlet>