<div id="home">
  <h3>HOME</h3>
  <div class="form-group col-lg-8 centered text-center container">
    <label for="comment">Write your request here:</label>
    <textarea class="form-control" rows="15" [(ngModel)]="requete"></textarea>
  </div>
  <button type="button" class="btn btn-primary" (click)="submit()">
    Submit
  </button>
  <div>
    <div class="liste">
      <div *ngFor="let element of reponse" class="liste-element">
        <img src="{{ element.assets.imageMale }}" class="img" />
        <div class="info">
          <h2 class="title">{{ element.name }}</h2>
          <p class="desc">{{ element.description }}</p>
          <ul>
            <li style="width:50%;">
              <span class="fa fa-globe"></span> {{ element.rarity }}
            </li>
            <li style="width:50%;">
              <span class="fa fa-graduation-cap"></span> {{ element.type }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
