<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated mHW_API_DSL -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="mhw_api_dsl.mHW_API_DSL.presentation.MHW_API_DSLModelWizardID"
            name="%_UI_MHW_API_DSLModelWizard_label"
            class="mhw_api_dsl.mHW_API_DSL.presentation.MHW_API_DSLModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MHW_API_DSLModelFile.gif">
         <description>%_UI_MHW_API_DSLModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated mHW_API_DSL -->
      <editor
            id="mhw_api_dsl.mHW_API_DSL.presentation.MHW_API_DSLEditorID"
            name="%_UI_MHW_API_DSLEditor_label"
            icon="icons/full/obj16/MHW_API_DSLModelFile.gif"
            extensions="mhw_api_dsl"
            class="mhw_api_dsl.mHW_API_DSL.presentation.MHW_API_DSLEditor"
            contributorClass="mhw_api_dsl.mHW_API_DSL.presentation.MHW_API_DSLActionBarContributor">
      </editor>
   </extension>
</plugin>
