<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mHW_API_DSL -->
      <package
            uri="http://www.example.org/mHW_API_DSL"
            class="mhw-api-dsl.mHW_API_DSL.MHW_API_DSLPackage"
            genModel="model/mHW_API_DSL.genmodel"/>
   </extension>

</plugin>
